<div class="awardsarea" style="text-align: justify;">
    <h1 class="airText texto" style="margin-left: 5%;">Sponsorship Packages</h1>
    <br>
    <p class="texto paragraph">
        RUM-Air invites you to be part of our continuous success in
        representing our country at an international aircraft design competition.
        To stay on par with everchanging technology, the competition regulations
        are constantly modified, which tends to increase project budget requirements.
        With your support, we will be able to stay one step ahead of the competition in
        aerospace innovation by acquiring state-of-the-art tools, materials,
        and manufacturing processes. The funds will be used to finance team
        registration, prototype and final aircraft manufacture (materials &
        equipment), competition logistics and travel, and team uniforms.
        <br>
        <br>
    </p>
    <div class="frase has-text-centered center texto" style="padding-top: 2%;">
        <h3 class="fraseRegu" >RUM-Air appreciates any kind of support your company can offer.</h3>
        <h3 class="fraseResp">RUM-Air appreciates any kind of <br>support your company can
            offer.</h3>
    </div>
</div>

<div>
    <br>
    <div class="wrapper">
        <div class="center">
            <table class="texto tablaRegu">
                <col width="25">
                <col width="75">
                <!-- <tr>
                    <th colspan="2" class="has-text-centered">Sponsorship Packages</th>
                    </tr> -->
                <tr style="background-color: gold; vertical-align: middle;">
                    <th class="has-text-centered">
                        Gold Level
                    </th>
                    <th class="has-text-centered">
                        $5000 +
                    </th>
                </tr>

                <tr style="background-color: rgb(255,255,178);">
                    <td class="has-text-centered">
                        <img src="https://drive.google.com/uc?export=view&id=1ng61YpAcAG30x-vQzs6EwwlvzpJ2qqM7" style="width: 50%;">
                    </td>
                    <td>
                        <ul>
                            <li>
                                Display your logo on RUM-Air aircraft and banners (larger than 9 X 2 inches).
                            </li>
                            <li>
                                Opportunity to display corporate logo (larger than 9 X 2 inches) on RUM-Air official
                                documents, brochures, t-shirts, recruitment events, fund raising activities, and
                                other
                                exposure activities.
                            </li>
                            <li>
                                Company will receive monthly notifications about the project’s progress, including
                                competition results.
                            </li>
                            <li>
                                Company will receive an expense report.
                            </li>
                            <li>
                                Company will receive a DVD with photos and videos from the competition.
                            </li>
                        </ul>
                    </td>
                </tr>

                <tr style="background-color: silver; vertical-align: middle;">
                    <th class="has-text-centered">
                        Silver Level
                    </th>
                    <th class="has-text-centered">
                        $1000 - $4999
                    </th>
                </tr>

                <tr style="background-color: lightgray;">
                    <td class="has-text-centered">
                        <img src="https://drive.google.com/uc?export=view&id=1NT5Gsw1kLsyIGi-447Q0RqIX1jUDYZaD" style="width: 50%;">
                    </td>
                    <td>
                        <ul>
                            <li>
                                Display your logo on RUM-Air aircraft and banners (smaller than 9 X 2 inches).
                            </li>
                            <li>
                                Opportunity to display corporate logo (smaller than 9 X 2 inches) on RUM-Air
                                official documents, brochures, t-shirts, recruitment events, fund raising
                                activities, and other exposure activities.
                            </li>
                            <li>
                                Company will receive semesterly notifications about the project’s progress,
                                including the Competition’s Results.
                            </li>
                        </ul>
                    </td>
                </tr>

                <tr style="background-color:rgb(205,127,50); vertical-align: middle;">
                    <th class="has-text-centered">
                        Bronze Level
                    </th>
                    <th class="has-text-centered">
                        $500 - $999
                    </th>
                </tr>

                <tr style="background-color: rgb(232,196,160);">
                    <td class="has-text-centered">
                        <img src="https://drive.google.com/uc?export=view&id=155Tme6wEf_9mBrDIKVit_o7HZjAILd0e" style="width: 50%;">
                    </td>
                    <td>
                        <ul>
                            <li>
                                Display corporate logo (smaller than 2 X 2 inches) on RUM-Air
                                official documents, brochures, t-shirts, recruitment events,
                                fund raising activities, and other exposure activities.
                            </li>
                            <li>
                                Company will receive a notification about the competition’s results.
                            </li>
                        </ul>
                        <br>
                    </td>
                </tr>
                <tr style="background-color: rgb(0,204,0);">
                    <th colspan="2" style="padding-left: 6%;">
                        Alternate Donation Methods
                    </th>
                </tr>
                <tr style="background-color: lightgreen;">

                    <td colspan=2 style="padding-left:8%">
                        <ul>
                            <li>Applies to donations under $500.00, and materials,
                                equipment and services donations or discounts.
                            </li>
                            <li>
                                Terms of the sponsorship can be negotiated.
                            </li>
                        </ul>
                    </td>
                </tr>
            </table>
            <table class="texto tablaResp">

                <tr style="background-color: gold; vertical-align: middle;">
                    <th class="has-text-centered" style="width: 25%;">
                        Gold Level
                    </th>
                    <th class="has-text-centered" style="width: 75%;">
                        $5000 +
                    </th>
                </tr>

                <tr style="background-color: rgb(255,255,178);">  
                    <td colspan="2" class="has-text-centered" style="padding-left: 8%; padding-right: 5%;">
                        <img src="https://drive.google.com/uc?export=view&id=1ng61YpAcAG30x-vQzs6EwwlvzpJ2qqM7" style="width: 20%;">
                        <ul style="text-align: left;">
                            <li>
                                Display your logo on RUM-Air aircraft and banners (larger than 9 X 2 inches).
                            </li>
                            <li>
                                Opportunity to display corporate logo (larger than 9 X 2 inches) on RUM-Air official
                                documents, brochures, t-shirts, recruitment events, fund raising activities, and
                                other
                                exposure activities.
                            </li>
                            <li>
                                Company will receive monthly notifications about the project’s progress, including
                                competition results.
                            </li>
                            <li>
                                Company will receive an expense report.
                            </li>
                            <li>
                                Company will receive a DVD with photos and videos from the competition.
                            </li>
                        </ul>
                    </td>


                </tr>

                <tr style="background-color: silver; vertical-align: middle;">
                    <th class="has-text-centered">
                        Silver Level
                    </th>
                    <th class="has-text-centered">
                        $1000 - $4999
                    </th>
                </tr>

                <tr style="background-color: lightgray;">
                    <td colspan="2" class="has-text-centered" style="padding-left: 8%; padding-right: 5%;">
                        <img src="https://drive.google.com/uc?export=view&id=1NT5Gsw1kLsyIGi-447Q0RqIX1jUDYZaD" style="width: 20%;">
                        <ul style="text-align: left;">
                            <li>
                                Display your logo on RUM-Air aircraft and banners (smaller than 9 X 2 inches).
                            </li>
                            <li>
                                Opportunity to display corporate logo (smaller than 9 X 2 inches) on RUM-Air
                                official documents, brochures, t-shirts, recruitment events, fund raising
                                activities, and other exposure activities.
                            </li>
                            <li>
                                Company will receive semesterly notifications about the project’s progress,
                                including the Competition’s Results.
                            </li>
                        </ul>
                    </td>
                </tr>

                <tr style="background-color:rgb(205,127,50); vertical-align: middle;">
                    <th class="has-text-centered">
                        Bronze Level
                    </th>
                    <th class="has-text-centered">
                        $500 - $999
                    </th>
                </tr>

                <tr style="background-color: rgb(232,196,160);">
                    <td colspan="2" class="has-text-centered" style="padding-left: 8%; padding-right: 5%;">
                        <img src="https://drive.google.com/uc?export=view&id=155Tme6wEf_9mBrDIKVit_o7HZjAILd0e" style="width: 20%;">
                        <ul style="text-align: left;">
                            <li>
                                Display corporate logo (smaller than 2 X 2 inches) on RUM-Air
                                official documents, brochures, t-shirts, recruitment events,
                                fund raising activities, and other exposure activities.
                            </li>
                            <li>
                                Company will receive a notification about the competition’s results.
                            </li>
                        </ul>
                        <br>
                    </td>
                </tr>
                <tr style="background-color: rgb(0,204,0);">
                    <th colspan="2">
                        Alternate Donation Methods
                    </th>
                </tr>
                <tr style="background-color: lightgreen;">
                    <td colspan="2"  style="padding-left: 8%; padding-right: 5%;">
                        <ul>
                            <li>Applies to donations under $500.00, and materials,
                                equipment and services donations or discounts.
                            </li>
                            <li>
                                Terms of the sponsorship can be negotiated.
                            </li>
                        </ul>
                    </td>
                </tr>
            </table>
        </div>
        <br>
    </div>

<div><h1 class="airText texto" style="margin-left: 5%;">Our Sponsors</h1></div>
    <div class="sponsorDiv center" style="color: rgb(226, 192, 0);"></div>
    <div class="row center">
        <div *ngFor="let GoldSponsor of sponsorData.Sponsors.Gold">
            <div class="columnSponsor">
                <img src="{{ GoldSponsor.image_url }}"> 
            </div>
        </div> 
    </div>
    <div class="sponsorDiv center" style="color: rgb(156, 156, 156);"></div>
    <div class="row center">
        <div *ngFor="let SilverSponsor of sponsorData.Sponsors.Silver">
            <div class="columnSponsor">
                <img src="{{ SilverSponsor.image_url }}"> 
            </div>
        </div> 
    </div>
    <div class="sponsorDiv center" style="color: rgb(194, 120, 50);"></div>
    <div class="row center">
        <div *ngFor="let BronzeSponsor of sponsorData.Sponsors.Bronze">
            <div class="columnSponsor">
                <img src="{{ BronzeSponsor.image_url }}"> 
            </div>
        </div> 
    </div>
    <div class="sponsorDiv center" style="color: rgb(0,204,0);"></div>
    <div class="row center">
        <div *ngFor="let AlternateSponsor of sponsorData.Sponsors.Alternate">
            <div class="columnSponsor">
                <img src="{{ AlternateSponsor.image_url }}"> 
            </div>
        </div> 
    </div>
</div>