<section class="overview_page">

    <section>
        <table class="awardsarea">
            <td class="colegioImg has-text-centered" style="padding-top: 2%; width: 25%;">
                <tr>
                    <img src="https://drive.google.com/uc?export=view&id=15AqmXmWv8phItBw4cA2Mpl37gWSUWgQW" style="width: 80%;  ">
                    <img src="https://drive.google.com/uc?export=view&id=1qNV2kzR7iHNU3E64B6RZqkoLyUdNJT_0" style="width: 100%; ">
                </tr>


            </td>
            <td class="colegioImg" style="width: 5%;"></td>
            <td style="padding-right: 2%; text-align: justify; vertical-align: middle; width: 70%;" data-priority="1">
                <p class="texto">
                    <br />
                    <strong>RUM-Air</strong> is a multidisciplinary remote-controlled aircraft design team from
                    the
                    <strong>Society of Automotive Engineers (SAE) </strong>Collegiate chapter from the
                    University of Puerto Rico,
                    Mayagüez Campus (UPRM). The team is composed of approximately forty-five (45) collegiate
                    members
                    from diverse science and engineering disciplines. This coming year, the team will represent
                    Puerto Rico in the SAE Aero Design West competition, organized by SAE International,
                    against eighty-five (85) teams or more from universities around the world. The competition
                    promotes innovation in the aerospace industry through challenging missions and design
                    constraints
                    inspired by current technology trends. The team’s goal is to design lightweight, efficient,
                    and reliable aircraft capable of lifting the highest possible weight while meeting
                    design specifications.

                    <br />
                    <br />

                    Since the team’s creation in the year 1995, RUM-Air has elevated Puerto Rico’s name
                    by achieving the highest recognitions at the SAE Aero Design
                    East and West competitions. Our diversity, organization, outstanding technical
                    skills, and focus on transforming design into reality are the keys that have
                    maintained our excellence through the years.

                    <br />
                    <br />
                </p>
            </td>
        </table>

        <table class="responsiveImg">
            <tr>
                <td style="text-align: right; width: 50%;">
                    <img src="https://drive.google.com/uc?export=view&id=15AqmXmWv8phItBw4cA2Mpl37gWSUWgQW" style="width: 50%;">
                </td>
                <td style="text-align: left; width: 50%;">
                    <img src="https://drive.google.com/uc?export=view&id=1qNV2kzR7iHNU3E64B6RZqkoLyUdNJT_0" style="width: 70%; ">
                </td>
            </tr>
            <tr><br></tr>
        </table>
    </section>

</section>

<div class="airplaneCADS container is-fullhd">
    <div class="notification is-dark is-bold">
        <p class="texto has-text-centered" style="font-size: 50px;">The Projects</p>
        <section style="padding-left: 1%;">

            <div class="tile is-ancestor">
                <div class="tile is-parent is-hover" id="microBox">
                    <article class="tile is-child box notification fa" id="microSelect">
                        <p class="texto" style="font-size:30px"><strong>Micro Class</strong></p>
                        <figure class="image is-4by3">
                            <img id="microImg" src="https://drive.google.com/uc?export=view&id=1xhgyT4fkfgZaskIZExbKu959IQE-z0fl">
                        </figure>
                    </article>
                </div>
                <div class="tile is-parent is-hover" id="regBox">
                    <article class="tile is-child box notification fa" id="regSelect">
                        <p class="texto" style="font-size:30px"><strong>Regular Class</strong></p>
                        <figure class="image is-4by3">
                            <img id="regImg" src="https://drive.google.com/uc?export=view&id=1oKJXx-mJxSKCedyXJAFAlQlNURupHy0n">
                        </figure>
                    </article>
                </div>
                <div class="tile is-parent is-hover" id="advBox">
                    <article class="tile is-child box notification fa" id="advSelect">
                        <p class="texto" style="font-size:30px"><strong>Advanced Class</strong></p>
                        <figure class="image is-4by3">
                            <img id="advImg" src="https://drive.google.com/uc?export=view&id=14cJaQZA5Lg0OJuvMIaGRmR9tH0eiKn-Y">
                        </figure>
                    </article>
                </div>
                <div class="tile is-parent is-hover" id="aeroBox">
                    <article class="tile is-child box notification fa" id="aeroSelect">
                        <p class="texto" style="font-size:30px"><strong>Aero Connect Challenge</strong></p>
                        <figure class="image is-4by3">
                            <img id="aeroImg" src="assets/img/aero.png">
                        </figure>
                    </article>
                </div>

            </div>


            <section>
                <app-micro class="description1" id="micro"></app-micro>
                <app-regular class="description1" id="reg"></app-regular>
                <app-advanced class="description1" id="adv"></app-advanced>
                <app-aero class="description1" id="aero"></app-aero>
            </section>
        </section>
    </div>

</div>

<div class="airplaneCADS2 container is-fullhd" >
    <div class="notification is-dark is-bold">
        <p class="texto" style="font-size: 50px;">The Projects</p>
        <section>

            <div class="tile is-ancestor has-text-centered" style="padding-left: 3%;">
                <div class="tile is-parent is-hover" id="microBox2">
                    <article class="tile is-child box notification fa" id="microSelect2">
                        <p class="texto" style="font-size:30px"><strong>Micro Class</strong></p>
                        <figure class="image is-4by3">
                            <img id="microImg2" src="https://drive.google.com/uc?export=view&id=1xhgyT4fkfgZaskIZExbKu959IQE-z0fl">
                        </figure>
                    </article>
                </div>
                <div>
                    <app-micro class="description2" id="micro2"></app-micro>
                </div>
                <div class="tile is-parent is-hover" id="regBox2">
                    <article class="tile is-child box notification fa" id="regSelect2">
                        <p class="texto" style="font-size:30px"><strong>Regular Class</strong></p>
                        <figure class="image is-4by3">
                            <img id="regImg2" src="https://drive.google.com/uc?export=view&id=1oKJXx-mJxSKCedyXJAFAlQlNURupHy0n">
                        </figure>
                    </article>
                </div>
                <div>
                    <app-regular class="description2" id="reg2"></app-regular>
                </div>
                <div class="tile is-parent is-hover" id="advBox2">
                    <article class="tile is-child box notification fa" id="advSelect2">
                        <p class="texto" style="font-size:30px"><strong>Advanced Class</strong></p>
                        <figure class="image is-4by3">
                            <img id="advImg2" src="https://drive.google.com/uc?export=view&id=14cJaQZA5Lg0OJuvMIaGRmR9tH0eiKn-Y">
                        </figure>
                    </article>
                </div>
                <div>
                    <app-advanced class="description2" id="adv2"></app-advanced>
                </div>
                <div class="tile is-parent is-hover" id="aeroBox2">
                    <article class="tile is-child box notification fa" id="aeroSelect2">
                        <p class="texto" style="font-size:30px"><strong>Aero Connect Challenge</strong></p>
                        <figure class="image is-4by3">
                            <img id="aeroImg2" src="assets/img/aero.png">
                        </figure>
                    </article>
                </div>
                <div>
                    <app-aero class="description2" id="aero2"></app-aero>
                </div>

            </div>
        </section>
    </div>

</div>


<section class="premios">
    <br />
    <br />
    <table class="tabla awardsarea texto">
        <td class="trophyimage" style="width: 20%;">
            <img src="https://drive.google.com/uc?export=view&id=1tFxvZTtq0oGIyKdoktgoQCheomqYpifJ">
        </td>
        <td>
            <tr>
                <p class="awardstitle">
                    Awards
                </p>
            </tr>
            <tr>
                <p class="year">2021</p>
                <p style="vertical-align: middle; padding-bottom: 3px; padding-right: 5px;">
                    Micro Class Overall <strong>2nd Place</strong> <br />
                    Advanced Class Overall <strong>3rd Place</strong> <br />
                    Regular Class Overall <strong>3rd Place</strong> <br />
                    Micro Class Technical Report <strong>2nd Place</strong> <br />
                    Regular Class Technical Report <strong>2nd Place</strong> <br />
                    Advanced Class Technical Report <strong>2nd Place</strong> <br />
                    Micro Class Technical Presentation <strong>1st Place</strong> <br />
                    Advanced Class Technical Presentation <strong>5th Place</strong> <br />
                    Regular Class Technical Presentation <strong>8th Place</strong> <br />
                    Regular Class Flight <strong>3rd Place</strong> <br /> </p>
            </tr>
            <tr>
                <p class="year">2020</p>
                <p style="vertical-align: middle; padding-bottom: 3px; padding-right: 5px;">
                    Micro Class Overall <strong>1st Place</strong> <br />
                    Advanced Class Overall <strong>1st Place</strong> <br />
                    Regular Class Overall <strong>2nd Place</strong> <br />
                    Micro Class Technical Presentation <strong>1st Place</strong> <br />
                    Regular Class Technical Presentation <strong>1st Place</strong> <br />
                    Advanced Class Technical Presentation <strong>1st Place</strong> <br />
                    Micro Class Technical Report <strong>1st Place</strong> <br />
                    Advanced Class Technical Report <strong>1st Place</strong></p>
            </tr>
            <tr>
                <p class="year">2019</p>
                <p style="padding-bottom: 3px;">
                    Regular Class Overall <strong>4th Place</strong> <br />
                    Regular Class Technical Presentation <strong>1st Place</strong> <br />
                    Advanced Class Technical Presentation <strong>3rd Place</strong> <br />
                    Micro Class Technical Report <strong>3rd Place</strong></p>
            </tr>
            <tr>
                <p class="year">2018</p>
                <p style="padding-bottom: 3px;">
                    Micro Class Technical Report <strong>1st Place</strong></p>
            </tr>
            <tr>
                <p class="year">2017</p>
                <p style="padding-bottom: 3px;">
                    Micro Class Overall <strong>4th Place</strong> <br/>
                    Micro Class Technical Presentation <strong>1st Place</strong> <br />
                    Regular Class Technical Presentation <strong>2nd Place</strong> <br /> </p>
            </tr>
        </td>
        <td style="vertical-align: top; padding-left: 4%;">
            <br />
            <br />
            <br />
            <tr>
                <p class="year">2016</p>
                <p style="padding-bottom: 3px;">
                    Micro Class Technical Presentation <strong>1st Place</strong> <br />
                    Micro Class Written Design Report <strong>1st Place</strong> <br />
                    Regular Class Written Design Report <strong>1st Place</strong></p>
            </tr>
            <tr>
                <p class="year">2015</p>
                <p style="padding-bottom: 3px;">
                    Micro Class Technical Presentation <strong>1st Place</strong> <br />
                    Regular Class Technical Presentation <strong>3rd Place</strong></p>
            </tr>
            <tr>
                <p class="year">2014</p>
                <p style="padding-bottom: 3px;">
                    Micro Class Highest Payload Fraction <strong>1st Place</strong> <br />
                    Micro Class Technical Presentation <strong>1st Place</strong><br />
                    Regular Class Technical Presentation <strong>2nd Place</strong></p>
            </tr>
            <tr>
                <p class="year">2013</p>
                <p style="padding-bottom: 3px;">Micro Class Payload Fraction <strong>3rd Place</strong></p>
            </tr>
            <tr>
                <p class="year">2012</p>
                <p>Regular Class Presentation <strong>1st Place</strong> </p>
            </tr>
            <tr>
                <p class="year">2011</p>
                <p>Micro Class Overall <strong>4th Place</strong></p>
            </tr>
        </td>
    </table>
    <br>
    <br>
</section>

<section class="premios2">
    <br />
    <br />
    <table class="tabla awardsarea texto">
        <td class="trophyimage" style="width: 20%;">
            <img src="https://drive.google.com/uc?export=view&id=1tFxvZTtq0oGIyKdoktgoQCheomqYpifJ">
        </td>
        <td>
            <tr>
                <p class="awardstitle">
                    Awards
                </p>
            </tr>
            <tr>
                <p class="year">2021</p>
                <p style="vertical-align: middle; padding-bottom: 3px; padding-right: 5px;">
                    Micro Class Overall <strong>2nd Place</strong> <br />
                    Advanced Class Overall <strong>3rd Place</strong> <br />
                    Regular Class Overall <strong>3rd Place</strong> <br />
                    Micro Class Technical Report <strong>2nd Place</strong> <br />
                    Regular Class Technical Report <strong>2nd Place</strong> <br />
                    Advanced Class Technical Report <strong>2nd Place</strong> <br />
                    Micro Class Technical Presentation <strong>1st Place</strong> <br />
                    Advanced Class Technical Presentation <strong>5th Place</strong> <br />
                    Regular Class Technical Presentation <strong>8th Place</strong> <br />
                    Regular Class Flight <strong>3rd Place</strong> <br /> </p>
            </tr>
            <tr>
                <p class="year">2020</p>
                <p style="padding-bottom: 3px; padding-right: 5px;">
                    Micro Class Overall <strong>1st Place</strong> <br />
                    Advanced Overall <strong>1st Place</strong> <br />
                    Regular Class Overall <strong>2nd Place</strong> <br />
                    Micro Class Technical Presentation <strong>1st Place</strong> <br />
                    Micro Class Technical Report <strong>1st Place</strong> <br />
                    Regular Class Technical Presentation <strong>1st Place</strong> <br />
                    Advanced Class Technical Presentation <strong>1st Place</strong> <br />
                    Advanced Class Technical Report <strong>1st Place</strong> </p>
            </tr>
            <tr>
                <p class="year">2019</p>
                <p style="padding-bottom: 3px; padding-right: 5px;">
                    Regular Class Overall <strong>4th Place</strong> <br />
                    Regular Class Technical Presentation <strong>1st Place</strong> <br />
                    Advanced Class Technical Presentation <strong>3rd Place</strong> <br />
                    Micro Class Technical Report <strong>3rd Place</strong></p>
            </tr>
            <tr>
                <p class="year">2018</p>
                <p style="padding-bottom: 3px;">
                    Micro Class Technical Report <strong>1st Place</strong></p>
            </tr>
            <tr>
                <p class="year">2017</p>
                <p style="padding-bottom: 3px;">
                    Micro Class Technical Presentation <strong>1st Place</strong> <br />
                    Regular Class Technical Presentation <strong>2nd Place</strong> <br />
                    Micro Class Overall <strong>4th Place</strong> <br /> </p>
            </tr>
            <tr>
                <p class="year">2016</p>
                <p style="padding-bottom: 3px;">
                    Micro Class Technical Presentation <strong>1st Place</strong> <br />
                    Micro and Regular Class Written Design Report <strong>1st Place</strong> <br /></p>
            </tr>
            <tr>
                <p class="year">2015</p>
                <p style="padding-bottom: 3px;">
                    Micro Class Technical Presentation <strong>1st Place</strong> <br />
                    Regular Class Technical Presentation <strong>3rd Place</strong></p>
            </tr>
            <tr>
                <p class="year">2014</p>
                <p style="padding-bottom: 3px;">
                    Micro Class Highest Payload Fraction <strong>1st Place</strong> <br />
                    Micro Class Technical Presentation <strong>1st Place</strong><br />
                    Regular Class Technical Presentation <strong>2nd Place</strong> </p>
            </tr>
            <tr>
                <p class="year">2013</p>
                <p style="padding-bottom: 3px;">
                    Micro Class Payload Fraction <strong>3rd Place</strong></p>
            </tr>
            <tr>
                <p class="year">2012</p>
                <p>Regular Class Presentation <strong>1st Place</strong> </p>
            </tr>
            <tr>
                <p class="year">2011</p>
                <p>Micro Class Overall <strong>4th Place</strong></p>
            </tr>
        </td>

    </table>
    <br>
    <br>
</section>

<section>
    <table id="images" style="width: 100%;">
        <td style="size: 20%;">
            <img src="https://drive.google.com/uc?export=view&id=12osJrX82QvhUg2VBF07Fisn1aiCWhXpW">
        </td>
        <td style="size: 20%;">
            <img src="https://drive.google.com/uc?export=view&id=1lXsPvZUKbW439vbDZLGsD8uDyG9YbMOz">
        </td>
        <td style="size: 20%;">
            <img src="https://drive.google.com/uc?export=view&id=1UN6GDMxNnH2paxXiaVPG9J0lCGNHl-Rs">
        </td>
        <td style="size: 20%;">
            <img src="https://drive.google.com/uc?export=view&id=1Qds2KhuYfR3ogot1ZY0H4e4-XSpqoSeo">
        </td>
        <td style="size: 20%;">
            <img src="https://drive.google.com/uc?export=view&id=1-BvOD5ql5E1rVHjuqCn6XSiUVr0Fne-5">
        </td>
    </table>
</section>