<!-- Add icon library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div class="content"><span>Product app is running!</span> </div>
<app-home></app-home>

<section class="hero is-dark is-bold">
  <div class="hero-body">
    <div class="container">
      <table class="texto" width=100%>

        <td>
          <p style="color: rgb(142, 141, 145);">
            RUM-Air Aero Design Team<br>
            University of Puerto Rico, Mayaguez Campus<br>
            Mechanical Engineering Department
            P.O. Box 9045<br>
            Mayaguez, PR 00681-9045
          </p>
        </td>

        <td>
          <p style="color: rgb(142, 141, 145);">
            Contact:<br>
            <i class="inline-icon material-icons">email</i> aerodesign.uprm@gmail.com <br>
            <i class="inline-icon material-icons" style="text-align: left;">local_phone</i> 787-420-0455<br>
          </p>
        </td>

        <td class="icon-dist">
          <!-- Add font awesome icons -->
          
          <a  href="https://www.facebook.com/UPRMAeroDesign" 
          class="fa fa-facebook icon-style" target="_blank"></a>
          <a href="https://www.instagram.com/uprm_aero_design/" class="fa fa-instagram icon-style" target="_blank"></a>
          <a  href="https://twitter.com/aero_rum" class="fa fa-twitter icon-style" target="_blank"></a>
          <a href="https://www.linkedin.com/company/sae-uprm-collegiate-chapter's-rum-air-team/about/" class="fa fa-linkedin icon-style" target="_blank"></a>
        </td>

      </table>
    </div>
  </div>
</section>

<router-outlet></router-outlet>