<div class="container">

  <div class="row">
    <div class="column">
      <img src="https://drive.google.com/uc?export=view&id=1Uy5wF5zO68IE8YeQC3EeWM76pYerjHxO" alt="" class="borde">
    </div>
    <div class="column">
      <img src="https://drive.google.com/uc?export=view&id=1mnCpCPEBA3l8ecatIpMLZK7f6J1_G5uY" alt="" class="borde">
    </div>
    <div class="column">
      <img src="https://drive.google.com/uc?export=view&id=1-kdkL9cTMxV1IUzsNeysvTvjZch0njaA" alt="" class="borde">
    </div>
    <div class="column">
      <img src="https://drive.google.com/uc?export=view&id=1GWJXfH7E6OQM30DuhDNs_aLswVZv2f_A" alt="" class="borde">
    </div>
    <div class="column">
      <img src="https://drive.google.com/uc?export=view&id=1qwOKejd85rmWS-6QrhEjxc-ZQ5DPZqOw" alt="" class="borde">
    </div>
  </div>
  <br>

  <div class="container is-fullhd">
    <table class="awardsarea">
      <td width=20%>
        <img src="https://drive.google.com/uc?export=view&id=1Vk0QQTK3Zhv5xohodpwNFr8z5v1Zn5XA">
      </td>
      <td width=80% style="padding-left: 20px;">
        <p>
          <br>
        </p>
        <h1 class="airText">Donate</h1>
        <tr>
          <p class="texto" style="font-size: 20px;">
            Help us define the future of engineering by
            sponsoring RUM-Air!
          </p>
        </tr>
      </td>
    </table>

  </div>


  <!-- <div class="center frase">

      <h1 class="center has-text-centered" style="background-color: rgb(28, 92, 70);">Help us define the future of engineering by
        sponsoring RUM-Air!</h1>
    </div> -->

  <!-- text-light bg-dark -->
  <div class="container">

    <!-- style="background-color: rgb(240, 240, 240)" -->
    <br>

    <section class="tilehome">
      <div class="tile is-ancestor">
        <div class="tile is-parent">
          <article class="tile is-child notification is-light box" style="text-align: center;">
            <figure>
              <img src="https://drive.google.com/uc?export=view&id=148rrANnjZdCWZFdW2H1zoIMXK1U7k73L">  
            </figure>
          </article>
        </div>

        <div class="tile is-parent">
          <article class="tile is-child notification is-light box" style="text-align: center;">
            <p style="height: 30px;"><br /></p>
            <figure>
              <img src="https://drive.google.com/uc?export=view&id=1dDuYyz8EZEVw052HttZuy0ixf7Fpdljf" style="width: 85%;">
            </figure>
            <div style="text-align: center;">
              <h3 class="texto" style="font-size: 25px;"> <b> Go to: </b> Pay a Business </h3>
              <h3 class="texto" style="font-size: 25px;"> <b> Type: </b> /RUMAir21 </h3>
            </div>
          </article>
        </div>
      </div>
    </section>

  </div>

  <br>

  <div class="row">
    <div class="column">
      <img src="https://drive.google.com/uc?export=view&id=1Uy5wF5zO68IE8YeQC3EeWM76pYerjHxO" alt="" class="borde">
    </div>
    <div class="column">
      <img src="https://drive.google.com/uc?export=view&id=1mnCpCPEBA3l8ecatIpMLZK7f6J1_G5uY" alt="" class="borde">
    </div>
    <div class="column">
      <img src="https://drive.google.com/uc?export=view&id=1-kdkL9cTMxV1IUzsNeysvTvjZch0njaA" alt="" class="borde">
    </div>
    <div class="column">
      <img src="https://drive.google.com/uc?export=view&id=1GWJXfH7E6OQM30DuhDNs_aLswVZv2f_A" alt="" class="borde">
    </div>
    <div class="column">
      <img src="https://drive.google.com/uc?export=view&id=1qwOKejd85rmWS-6QrhEjxc-ZQ5DPZqOw" alt="" class="borde">
    </div>
  </div>

</div>