<section class="hero is-small is-dark is-bold">
    <div class="hero-body">
        <div class="container has-text-centered">
            <div class="columns is-centered">
                <div class="column is-half">
                    <img class="logo" style="max-height: 80%;" src="https://drive.google.com/uc?export=view&id=1yyp8mJ9BaMSnuX10f1O4pq-p2InA2Xnx">
                </div>
            </div>
        </div>
    </div>

    <div class="hero-foot">
        <nav class="tabs is-boxed is-fullwidth">
            <div class="container">
                <ul>
                    <li class="is-active">
                        <a>Overview</a>
                    </li>
                    <li>
                        <a>About</a>
                    </li>
                    <li>
                        <a>News</a>
                    </li>
                    <li>
                        <a>Team Roster</a>
                    </li>
                    <li>
                        <a>Sponsorship Packages</a>
                    </li>
                    <li> 
                        <a>Donate</a>
                    </li>
                </ul>
            </div>


            
        </nav>
    </div>
</section>
<div>
    <section class= "tab-content" id="overviewTab"><app-overview></app-overview></section>
    <section class="tab-content" id="aboutTab"><app-about></app-about></section>
    <section class="tab-content" id="newsTab"><app-news></app-news></section>
    <section class="tab-content" id="rosterTab"><app-team></app-team></section>

    <section class="tab-content" id="sponsorshipTab"><app-sponsorship></app-sponsorship></section>
    <section class="tab-content" id="donateTab"><app-donate></app-donate></section>
    
</div>



